body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    padding: 20px;
    background-image: url('https://img.freepik.com/vector-gratis/faros-automoviles-realistas-composicion-ad-faros-iluminacion-verde-violeta_1284-56577.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}
#banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#boton a {
    background-color: #ffffff;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

/* Estilos del encabezado */
header {
    background-color: #e7e7e7;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#boton a {
    background-color: #ffffff;
    color: #212529;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

#banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}



        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #007bff;
            padding: 10px 20px;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            margin-right: 20px;
        }
        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        h2 {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin-top: 10px;
        }
        input, select, textarea {
            padding: 10px;
            margin-top: 5px;
        }
        button {
            margin-top: 20px;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        .prefix {
            margin-bottom: -1px;
        }
        #telefono {
            margin-top: 0;
        }
 