/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: auto;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Estilos de la sección de Información */
#informacion {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#informacion h2 {
    margin-bottom: 10px;
}

#informacion p {
    color: #666;
}

/* Estilos de las otras secciones */
#personal, #banner {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#personal h2, #banner h2 {
    margin-bottom: 10px;
}

#personal p, #banner p {
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
