/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    line-height: 1.6;
}

header {
    background-color: #212529;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a, nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover, nav ul li a:hover {
    background-color: #ffb74d;
    color: #212529;
}

main {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cambiar a 2 columnas */
    gap: 20px;
}

section {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

section img {
    width: 100%; /* Hacer que todas las imágenes tengan el mismo ancho */
    height: auto; /* Ajustar la altura automáticamente */
}

section h2 {
    color: #212529;
    font-size: 24px;
}

section p {
    color: #333;
    line-height: 1.6;
}

.carrito-btn {
    background-color: #ffb74d;
    color: #212529;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.carrito-btn:hover {
    background-color: #ff9800;
    color: #fff;
}
    