@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#banner {
   
    background-image: url('https://i.pinimg.com/originals/09/ab/cb/09abcb9c637d5e1e403e905b2704631c.jpg'); 
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
}

#arriba {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    position: absolute;
    width: 100%;
    column-gap: 1000px;
     
    
    
}

nav {
    
    display: flex;
    column-gap: 25px;
    color: #ffffff;
    background-color: #000000;
    padding: 25px 40px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;

    
}

nav > a {
    color: #ffffff;
    text-decoration: none;
    
}

#banner > h1 {
    color: #ffffff;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    
   
}

#boton {
    margin-top: 100px;
    height: 20vh;
    
}

#boton a {
    color: #ffffff;
    background-color: #000000;
    padding: 30px 60px;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 100px; 
    display: inline-block;
   
}
