.navigation {
    background-color: #f8f8f8; /* Color de fondo */
    padding: 10px; /* Espacio interno */
    text-align: center; /* Centra los enlaces */
    border-bottom: 1px solid #ddd; /* Borde inferior */
}

.navigation a {
    margin-right: 20px; /* Espacio entre enlaces */
    text-decoration: none; /* Elimina el subrayado */
    color: #333; /* Color del texto */
    font-weight: bold; /* Negrita */
}